__pycache__/
*.py[cod]

venv/
env/
.venv/

models/*.pkl

outputs/logs/*.csv
outputs/plots/*.png
outputs/reports/*.txt
outputs/reports/*.csv

!models/.gitkeep
!outputs/logs/.gitkeep
!outputs/plots/.gitkeep
!outputs/reports/.gitkeep

.ipynb_checkpoints/
.vscode/
.idea/

.DS_Store
Thumbs.db